@media screen and (max-width: 600px) {
  .navbar-container {
    margin: 20px;
  }
  .check-btn {
    display: block;
  }
  .nav-right ul li {
    display: none;
  }
  .banner {
    height: 100%;
    margin: 20px;
  }
  .banner-search-option {
    margin: auto;
  }
}
