@media screen and (max-width: 600px) {
  .navbar-container {
    margin: 20px;
  }
  .check-btn {
    display: block;
  }
  .nav-right ul li {
    display: none;
  }
  .banner {
    height: 100%;
    margin: 20px;
  }
  .banner-search-option {
    margin: auto;
  }
  .popular-tour-container {
    flex-direction: column;
    padding: 20px;
  }
  .popular-tour-container img {
    width: 100%;
  }
  .first-row-image,
  .second-row-image,
  .third-row-image {
    flex-direction: column;
  }
  .first-image,
  .second-image,
  .third-image,
  .fourth-image,
  .fifth-image,
  .sixth-image,
  .seventh-image {
    width: 93%;
    margin: 10px;
  }
}
