body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.primary-button {
  border-radius: 8px;
  font-size: 16px;
  width: 174px;
  height: 42px;
  padding: 12px;
  background: #ff5400;
  color: #fff;
  border: 0;
}
.navbar-container,
.banner,
.popular-tour-container,
.destination-container,
.image-collage-container,
.choose-us,
.hotel-card-container,
.Newsletter-container {
  max-width: 1250px;
  margin: 0 auto;
}

/* Navbar start  */
.nav-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-left h2 {
  font-size: 36px;
  font-weight: 800;
}
.nav-right ul li a {
  font-size: 18px;
  font-weight: 400;
  color: var(--Dark-02, #424247);
}
.nav-right ul li {
  display: inline;
  margin: 40px;
}

.primary-text-color {
  color: #ff5400;
}
.check-btn {
  width: 16px;
  float: right;
  /* margin-top: 85px; */
  line-height: 60px;
  display: none;
}

#check {
  display: none;
}
/* Navbar close */

/* banner start  */
.banner {
  background-image: url(Images/bannerpic.png);
  height: 500px;
  margin-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.banner-details {
  border-radius: 16px;
  padding-top: 100px;
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(41, 41, 57, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%
  );
}
.banner-details h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-details p {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 40px;
}
.banner-search-option {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  width: 60%;
  margin-left: 210px;
}
.banner-search-option input,
select {
  border-radius: 8px;
  font-size: 16px;
  width: 174px;
  height: 42px;
  padding: 12px;
  font-weight: 400;
  color: rgba(19, 19, 24, 0.5);
  border: 0;
}

/* banner end  */

/* Popular Tour portion start */

.popular-tour-container {
  display: flex;
  margin-top: 70px;
}
.tour-details {
  padding: 33px;
}
.tour-details h2,
.destination-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.tour-details p,
li,
.destination-details {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}
/* popular portion end  */

/* destination portion start  */
.destination-container {
  margin-top: 100px;
  text-align: center;
}

/* destination image collage start  */
.first-row-image,
.second-row-image,
.third-row-image {
  display: flex;
}

.first-image {
  margin-top: 50px;
  height: 350px;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: url(Images/Rectangle\ 5.png);
}

.overlay {
  color: #fff;
  font-weight: 600;
  font-size: 28px;
  display: flex;
  justify-content: center;
  padding: 150px;
}
.second-image {
  margin-top: 50px;
  height: 350px;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: url(Images/Rectangle\ 8.png);
  margin-left: 20px;
}
.third-image {
  margin-top: 40px;
  height: 350px;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: url(Images/Rectangle\ 6.png);
}
.fourth-image {
  margin-top: 40px;
  height: 350px;
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: url(Images/Rectangle\ 7.png);
  margin-left: 20px;
  margin-right: 20px;
}
.fifth-image {
  margin-top: 40px;
  height: 350px;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: url(Images/Rectangle\ 9.png);
}
.sixth-image {
  margin-top: 40px;
  height: 350px;
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  background-image: url(Images/Rectangle\ 11.png);
}
.seventh-image {
  margin-top: 40px;
  height: 350px;
  width: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin-left: 20px;
  background-image: url(Images/Rectangle\ 10.png);
}

/* destination image collage end  */
.choose-us {
  margin-top: 50px;
  text-align: center;
}
.choose-us h1 {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.choose-us p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
/* hotel card portion start  */
.first-card-row {
  display: flex;
}
.first-card {
  width: 50%;
  padding: 30px;
  margin-top: 48px;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.second-card {
  width: 50%;
  padding: 30px;
  margin-top: 48px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  margin-left: 15px;
}
.third-card {
  margin: 350px;
  margin-bottom: 0px;
  width: 50%;
  padding: 30px;
  margin-top: 48px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}
.first-card img,
.second-card img,
.third-card img {
  width: 60px;
  height: 60px;
}
.first-card h3,
.second-card h3,
.third-card h3 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin: 15px;
  margin-left: 0px;
}
.first-card p,
.second-card p,
.third-card p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}

/* hotel card portion end  */

/* Newspaper content start  */
.newsletter-content {
  display: flex;
  margin-top: 60px;
}
.news-left-content {
  height: 300px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 45px;
}
.news-left-content h3 {
  margin: 10px 0;
  color: #131318;
  font-size: 24px;
  font-weight: 800;
}
.news-left-content p {
  margin: 10px 0;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.news-left-content input {
  margin: 5px 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  padding: 15px;
  border: 0;
}
.news-right-content img {
  height: 300px;
  width: 96%;
  margin-left: 23px;
}
.news-right-content button {
  width: 300px;
  height: 100px;
  transform: rotate(-19.628deg);
  padding: 30px;
  position: relative;
  left: 388px;
  bottom: 150px;
}
/* Newspaper content start  */

/* footer portion  */
.footer-container {
  width: 100%;
  height: 502px;
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-content {
  display: flex;
}
.footer-content h3 {
  color: var(--Dark-01, #131318);
  font-size: 32px;
  font-weight: 800;
  margin: 15px;
}
.footer-line {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.footer-content img {
  margin: 15px;
}
.social-media-icons i {
  margin: 15px;
  width: 100px;
  height: 24px;
}
.footer-last-line {
  margin-top: 100px;
  color: #131318;
  font-size: 16px;
  font-weight: 300;
}
